/* pages/AlterarSenha.css */


.body-alterar-senha {
    background-color: #1e1f36;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, sans-serif;
}

.header-superior-as {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.voltar-as {
    color: #31c500;
    font-size: 18px;
    cursor: pointer;
}

.config-as {
    color: #31c500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config-as svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

.titulo-container-as {
    background-color: #31c500;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.titulo-as {
    color: #1e1f36;
    font-weight: bold;
    font-size: 22px;
}


.container-as {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    gap: 25px;
}

.form-grupo-as {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-senha {
    font-size: 16px;
    color: white;
    align-self: flex-start;
}


.input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-senha {
    width: 100%;
    padding: 15px;
    padding-right: 50px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #d9d9d9;
    font-size: 16px;
    color: #333;
}

.eye-icon {
    position: absolute;
    right: 15px; 
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
}



.botao-confirmar-as {
    background-color: #31c500;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    width: 320px;
    margin-top: 10px; 
}

.botao-confirmar-as:hover {
    background-color: #28a400;
}



.mensagem-erro {
    color: #ff5252; 
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px; 
    width: 100%;
}